<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cat.name %>
</p>

<p>
  <% unless @cat.picture.thumb.blank? %>
    <%= image_tag(@cat.picture.thumb, alt: "Cat Thumbnail Picture") %>
  <% else %>
    <%= image_tag("no_avatar_image_thumb.jpg") %>
  <% end %>
</p>

<%= link_to 'Edit', edit_cat_path(@cat) %> |
<%= link_to 'Back', cats_path %>
